@inject DxThemesService ThemesService
@implements IDisposable
@using System.Text.RegularExpressions
@implements IThemeLoadNotifier
@rendermode InteractiveServer

@if(IsLoaded) {
    <div class="themeswitcher-container @StateCssClass">
        <DxScrollView>
            <div class="themeswitcher-content">
                <div class="themeswitcher-title">DevExpress Fluent</div>
                <DxButtonGroup Enabled="ThemesService.ActiveTheme.IsFluent" CssClass="themeswitcher-fluent-mode"
                               RenderStyle="ButtonRenderStyle.Secondary"
                               RenderStyleMode="ButtonRenderStyleMode.Contained"
                               SelectionMode="ButtonGroupSelectionMode.Single">
                    <Items>
                        <DxButtonGroupItem Click="() => OnFluentModeChange(ThemeMode.Light)"
                                           Selected="ThemesService.ThemeState.Mode == ThemeMode.Light" Text="Light"
                                           IconCssClass="themeswitcher-icon-fluent-mode-light"/>
                        <DxButtonGroupItem Click="() => OnFluentModeChange(ThemeMode.Dark)"
                                           Selected="ThemesService.ThemeState.Mode == ThemeMode.Dark" Text="Dark"
                                           IconCssClass="themeswitcher-icon-fluent-mode-dark"/>
                    </Items>
                </DxButtonGroup>

                <div class="themeswitcher-subtitle">Preset Colors</div>
                <ul class="themeswitcher-colors">
                    @foreach(var theme in ThemesService.FluentThemes) {
                        <ThemeSwitcherItem Theme="theme" Click="ThemeSwitcherItem_Click"/>
                    }
                </ul>
                
                <div class="themeswitcher-subtitle">Custom Color</div>
                <div class="themeswitcher-custom-color @GetCustomColorPickerCss()">
                    <DxMaskedInput
                        ValueChanged="e => OnFluentSetCustomAccentColor(e)"
                        T="string"
                        Mask="#([0-9a-fA-F]{6})"
                        MaskMode="MaskMode.RegEx"
                        NullText="#hex"
                        Value="@GetColorPickerText()"/>
                    <DxButton CssClass="themeswitcher-custom-color-button"
                              RenderStyle="ButtonRenderStyle.Secondary"
                              RenderStyleMode="ButtonRenderStyleMode.Contained"
                              IconCssClass="themeswitcher-custom-color-button-icon">
                        <div class="themeswitcher-custom-color-button-icon">
                        </div>
                        <input type="color" value="@GetColorPickerText()" @onchange="(e) => OnFluentSetCustomAccentColor(e.Value.ToString())"/>
                    </DxButton>
                </div>
            </div>

            <div class="themeswitcher-content">
                <div class="themeswitcher-title">DevExpress Classic</div>
                <ul class="themeswitcher-colors">
                    @foreach(var theme in ThemesService.ClassicThemes) {
                        <ThemeSwitcherItem Theme="theme" Click="ThemeSwitcherItem_Click"/>
                    }
                </ul>
            </div>
            
            <div class="themeswitcher-content">
                <div class="themeswitcher-title">Bootstrap</div>
                <ul class="themeswitcher-colors">
                    @foreach(var theme in ThemesService.BootstrapThemes) {
                        <ThemeSwitcherItem Theme="theme" Click="ThemeSwitcherItem_Click"/>
                    }
                </ul>
            </div>
            
            <div class="themeswitcher-content">
                <div class="themeswitcher-title">User Defined Themes</div>
                <ul class="themeswitcher-colors">
                    @foreach(var theme in ThemesService.UserDefinedThemes) {
                        <ThemeSwitcherItem Theme="theme" Click="ThemeSwitcherItem_Click"/>
                    }
                </ul>
            </div>

        </DxScrollView>
    </div>
}

@code {
    [Parameter] public bool Shown { get; set; }
    [Parameter] public EventCallback<bool> ShownChanged { get; set; }
    [Parameter] public string ThemeName { get; set; }
    [Parameter] public EventCallback<string> ThemeNameChanged { get; set; }

    string StateCssClass => IsLoaded ? ((Shown? "themeswitcher-container-shown" : "themeswitcher-container-hidden")) : "";
    bool IsLoaded { get; set; }
    const string hexRegexStr = "#([0-9a-fA-F]{6})";

    protected override void OnInitialized() {
        base.OnInitialized();
        ThemesService.ThemeLoadNotifier = this;
    }
    
    string GetCustomColorPickerCss() {
        return IsCustomThemeSelected() ? "active" : null;
    }

    async Task ThemeSwitcherItem_Click(Theme theme) {
        ThemesService.ThemeState.CustomAccentColor = null;
        ThemesService.ThemeChangeRequestDispatcher?.RequestThemeChange(theme);
        await ToggleThemeSwitcherPanel(false);
    }
    
    async Task OnFluentModeChange(ThemeMode mode) {
        ThemesService.ThemeState.Mode = mode;
        ThemesService.ThemeChangeRequestDispatcher?.RequestThemeChange(ThemesService.ActiveTheme);
        await ToggleThemeSwitcherPanel(false);
    }

    async Task OnFluentSetCustomAccentColor(string color) {
        if(string.IsNullOrEmpty(color) || !Regex.IsMatch(color, hexRegexStr))
            return;

        ThemesService.ThemeState.CustomAccentColor = color;
        ThemesService.ThemeChangeRequestDispatcher?.RequestThemeChange(ThemesService.CustomFluentTheme);
        await ToggleThemeSwitcherPanel(false);
    }

    private string? GetColorPickerText() {
        return IsCustomThemeSelected() ? ThemesService.ThemeState.CustomAccentColor : null;
    }
    
    private bool IsCustomThemeSelected() {
        return ThemesService.ActiveTheme == ThemesService.CustomFluentTheme;
    }

    public async Task NotifyThemeLoadedAsync(Theme theme) {
        ThemeName = theme.Name;
        await ThemeNameChanged.InvokeAsync(ThemeName);
    }

    async Task ToggleThemeSwitcherPanel(bool shown) {
        if(shown != Shown) {
            Shown = shown;
            await ShownChanged.InvokeAsync(shown);
        }
    }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender) {
            IsLoaded = true;
            if(Shown)
                StateHasChanged();
        }
    }

    public void Dispose() {
        ThemesService.ThemeLoadNotifier = null;
    }
}
