@inject ThemesService ThemesService
@rendermode InteractiveServer

<li class="themeswitcher-color @(Theme.Name) @(isActive ? "active" : "")" style="--themeswitcher-color: @ItemColor">
    <a
    @onclick:preventDefault
    @onclick="Anchor_Click">@(Title ?? Theme.Name)</a>
</li>

@code {
    [Parameter] public ITheme Theme { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string ItemColor { get; set; }
    [Parameter] public EventCallback<ITheme> Click { get; set; }

    bool isActive;

    protected override void OnParametersSet() {
        isActive = Theme.Name == ThemesService.ActiveTheme.Name;
    }

    async Task Anchor_Click() {
        await Click.InvokeAsync(Theme);
    }
}
