@inject ThemesService ThemesService
@rendermode InteractiveServer

<li class="themeswitcher-color @GetActiveClassName() @ThemesService.ActiveTheme.Name " style="--themeswitcher-color: @ItemColor">
    <a
    @onclick:preventDefault
    @onclick="Anchor_Click">@Title</a>
</li>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public ITheme Theme { get; set; }
    [Parameter] public string ItemColor { get; set; }
    [Parameter] public EventCallback<ITheme> Click { get; set; }

    async Task Anchor_Click() {
        await Click.InvokeAsync(Theme);
    }

    private string GetActiveClassName() {
        return Theme.Name == ThemesService.ActiveTheme.Name ? "active" : "";
    }
}
