@inject ThemesService ThemesService

@rendermode InteractiveServer


<div class="btn-container d-flex">
    <DxButton Click="@ToggleThemeSwitcherPanel"
                CssClass="@GetThemeSwitcherCssClass()" SizeMode="SizeMode.Large"
                RenderStyle="ButtonRenderStyle.Secondary"
                RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="theme-icon"
                aria-label="Themes"
                aria-haspopup="True"
                aria-expanded="@(ThemeSwitcherShown.ToString())">
    </DxButton>
</div>
<ThemeSwitcherContainer @bind-Shown="@ThemeSwitcherShown" />


@code {
    bool ThemeSwitcherShown { get; set; }

    void ToggleThemeSwitcherPanel() {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    string GetThemeSwitcherCssClass() {
        return "themeswitcher-button theme-settings " + ThemeSwitcherShown;
    }
}
