@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider
@inject ThemeService Themes
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string? InitialThemeName = HttpContextAccessor.HttpContext?.Request.Cookies[ThemeService.ThemeCookieKey];
    Themes.SetActiveThemeByName(InitialThemeName);
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="@Themes.ActiveTheme.BootstrapThemeMode">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @DxResourceManager.RegisterScripts()
    @DxResourceManager.RegisterTheme(Themes.ActiveTheme.CurrentTheme)

    <link href="css/site.css" rel="stylesheet" />
    <link href="switcher-resources/css/theme-switcher.css" rel="stylesheet" />
    <link href="switcher-resources/css/themes.css" rel="stylesheet" />
    <link href="switcher.styles.css" rel="stylesheet" />
    <script src="switcher-resources/page-helper.js"></script>
    <HeadOutlet />
</head>
<body>
    <div id="switcher-container" data-permanent></div>
    <Routes></Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
